*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

body{
    /* height: 100vh; */
    background-image: linear-gradient(rgb(206, 231, 240), rgb(60, 118, 165));
}
.container{
    width: 375px;
    margin: auto;
    background: #fff;
}
section{
    border-bottom: 15px solid rgb(206, 231, 240);
}
/* typography */
p{
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
}
small{
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    padding-inline: 3px;
}
/*  */

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 16px 0 16px;
}
.logo img{
    width: 107px;
    height: 43px;
    mix-blend-mode: multiply;

}
.avatar img{
border-radius: 50%;
width: 34px;
height: 34px;
}
.post-header{
    display: flex;
    padding: 10px 0 12px 10px;
}
.post-header img{
    margin-right: 10px;
}
.post-img img {
    width: 100%;
}
.post-icons{
    padding: 20px 0 12px 10px;
}
.post-icons img{
    width: 23px;
    height: 22px;
    margin-right: 10px;
}
.post-footer{
    padding: 0 0 16px 13px;
}
.post-likes-num{
    margin-bottom: 12px;
}